﻿@model StreamerAddViewModel

<h1 class="text-center">Ajouter un nouveau stream</h1>
<br />
<p class="text-danger">@ViewData["message"]</p>
<br />
<form asp-action="Add" asp-controller="Stream" method="post">
    <div class="form-floating">
        <input asp-for="UnStreamer.DateS" type="text" class="form-control" id="DateS" name="UnStreamer.DateS" placeholder="yyyy-mm-dd hh-mm-ss" />
        <label asp-for="UnStreamer.DateS">Date du stream : yyyy-mm-dd hh-mm-ss</label>
        <span class="text-danger" asp-validation-for="UnStreamer.DateS"></span>
    </div>
    <br />
    <div class="form-floating">
        <input asp-for="UnStreamer.Title" type="text" class="form-control" id="Title" name="UnStreamer.Title" placeholder="Titre du stream" />
        <label asp-for="UnStreamer.Title" for="ForTitle">Titre du stream</label>
        <span class="text-danger" asp-validation-for="UnStreamer.Title"></span>
    </div>

    <br />
    <select asp-for="UnStreamer.Statut" name="UnStreamer.Statut" class="form-control">
        <option value="Fini">Fini</option>
        <option value="En cours">En cours</option>
        <option value="A venir">A venir</option>
    </select>
    <span class="text-danger" asp-validation-for="UnStreamer.Statut"></span>
    <br />
    <button type="submit" class="form-control bg-warning">Ajout d'un Stream</button>
</form>
@section scripts
    {
    <partial name="_ValidationScriptsPartial"></partial>
}