﻿@model projet_twitch.api.Streamer
﻿
<h1 class="text-center">Modifier le stream</h1>
<br />
<p class="text-danger">@ViewData["message"]</p>
<br />
<form asp-action="Edit" asp-controller="Stream" method="post">
    <div class="form-floating">
        <input asp-for="DateS" type="text" class="form-control" id="ForDateS" name="DateS" placeholder="Date du stream" value="@(Model.DateS)" />
        <label asp-for="DateS">Date du stream</label>
        <span class="text-danger" asp-validation-for="DateS"></span>
    </div>
    <br />
    <div class="form-floating">
        <input asp-for="Title" type="text" class="form-control" id="ForTitle" name="Title" placeholder="Titre du stream" value="@(Model.Title)" />
        <label asp-for="Title">Titre du stream</label>
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>

    <br />
    <select name="Statut" class="form-control">
        @if (Model.Statut == "En cours")
        {
            <option selected>@(Model.Statut)</option>
            <option value="A venir">A venir</option>
        }
        else
        {
            <option selected>@(Model.Statut)</option>
            <option value="En cours">En cours</option>
        }
    </select>
    <br />
    <button type="submit" class="form-control bg-warning">Modification du Stream</button>
</form>