﻿@{
    ViewData["Title"] = "Stream Page";
}
<div class="d-flex align-items-center">
<h1>La liste des Streams</h1>
    <a class="nav-link text-dark rounded-circle " asp-area="" asp-controller="Stream" asp-action="Add">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#f0ad4e" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
    </a>
</div>
<br />
<p class="text-danger">@TempData["message"]</p>
<br />
@if (Model.Count > 0)
{
    <table class="table table-striped table-hover">
        <tr>
            <th>DATE DU STREAM</th>
            <th>TITRE</th>
            <th>STATUT</th>
            <th>MODIFIER</th>
        </tr>
        @foreach (var item in this.Model)
        {
            <tr>
                <td>@(item.DateS)</td>
                <td>@(item.Title)</td>
                <td>@(item.Statut)</td>
                <td>
                    @if (item.Statut == "En cours" || item.Statut == "A venir")
                    {
                        @Html.ActionLink("Modifier", "Edit", new {  Id=item.Id  })
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <i>Vous n'avez aucun Stream...</i>
}