﻿@model FollowAddViewModel
﻿
<h1 class="text-center">Ajouter un nouveau follower</h1>
<br />
<p class="text-danger">@ViewData["message"]</p>
<br />
<form asp-action="Add" asp-controller="Follow" method="post">
    <div class="form-floating">
        <input asp-for="UnFollow.Surnom" type="text" class="form-control" id="ForSurnom" name="UnFollow.Surnom" placeholder="Surnom" />
        <label asp-for="UnFollow.Surnom">Surnom</label>
        <span class="text-danger" asp-validation-for="UnFollow.Surnom"></span>
    </div>
    <br />
    <div class="form-floating">
        <input type="text" class="form-control" id="ForImage" name="UnFollow.ImageProfil" placeholder="Image du profil" />
        <label for="ForImage">Image du profil</label>
    </div>
    <br />
    <button type="submit" class="form-control bg-warning">Ajout d'un Follower</button>
</form>
@section scripts
    {
    <partial name="_ValidationScriptsPartial"></partial>
}